%h1 ADMIN
- unless @user.nil?
  %p= @user.username + "'s recent posts"

- unless @images.nil?
  - @images.each do |image|
    %img{:src=>image}

%form{action: "/subscription", method: :post}
  %input{type: 'submit', value: '購読'}

%form{action: "/subscription", method: :post}
  %input{type: 'hidden', name: '_method', value: 'DELETE'}
  %input{type: 'submit', value: '購読停止'}
