%div#title
  %h1
    Daily Landspaces
%div#main
  %div.backtotop
    %a(href="#main" align="center")<
      TOP

  %section

  :javascript
    var photos = #{@photos}
    var $ul = $('<ul></ul>');
    $.each(photos, function(key, value){
      var data = JSON.parse(value);
      $ul.append('<li><a href=' + data.link + ' target="_blank" alt="Instagram Pic"><img data-original=' + data.url + '><span>' + data.text + '</span></a></li>');
    });
    $('section').append($ul);

    // LazyLoad
    $('img').lazyload({
      effect: "fadeIn",
      effectspeed: 2000,
    });

    // PageScroll
    var topBtn = $('.backtotop');
    topBtn.hide();
    $(window).scroll(function(){
      if ($(this).scrollTop() > 100){
        topBtn.fadeIn();
      }else{
        topBtn.fadeOut();
      }
    });
    topBtn.click(function(){
      $('body, html').animate({
        scrollTop: 0
      , },500);
      return false;
    });

