%div#title
  %h1
    Daily Landspaces
%div#main
  %section

  :javascript
    var photos = #{@photos}
    var $ul = $('<ul></ul>');
    $.each(photos, function(key, value){
      var data = JSON.parse(value);
      $ul.append('<li><a href=' + data.link + ' target="_blank" alt="Instagram Pic"><img src=' + data.url + '><span>' + data.text + '</span></a></li>');
    });
    $('section').append($ul);

