!!! 5
%html
  %head
    %title= "Trip Window"
    %meta{:charset => "utf-8"}
    %meta{ 'http-equiv' => 'Content-Script-Type', :content => 'text/javascript'}
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  %body
    = yield
