@charset "utf-8";

html{
  font-family: sans-serif;
}

#title{
  text-align: center;
  margin: 50px 0;
}
h1{
  font-size: 40px;
  font-style: italic;
}

section{
  display: inline-block;
  text-align: center;
  margin: 50px 0 0 0;
}

ul li{
  display: inline-block;
  list-style: none;
  position: relative;
  margin: 5px;
}  
span {
  position: absolute;
  left: 0;
  padding: 10px;
  overflow: hidden;
  max-width: 260px;
  bottom: 5%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
}
img {
  width: 306px;
  height:306px;
}

/* ページスクロール
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.backtotop {
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 999;
  opacity: 0.7;
}
.backtotop a{
  display: block;
  color: #777777;
  padding: 15px 10px;
  margin: 0px;
  background-color: #DDDDDD;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
}
.backtotop a:hover{
  background-color: #666666;
  color: #FFFFFF;
}
