@charset "utf-8";

/* mobile --undler 480px */
#title{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  vertical-align: center;
  margin-bottom: 10px;
  padding: 10px 0;
  background: -ms-gradient(white, rgba(180, 180, 100, 0.65));
  background: -moz-linear-gradient(white, rgba(180, 180, 100, 0.65));
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(180, 180, 100, 0.65))); 
  background: linear-gradient(white, rgba(180, 180, 100, 0.65));
}
section{
  display: inline-block;
  text-align: center;
  margin: 50px 0 0 0;
}

ul li{
  display: inline-block;
  list-style: none;
  position: relative;
  margin: 5px;
}  
span {
  position: absolute;
  left: 0;
  padding: 10px;
  overflow: hidden;
  max-width: 260px;
  bottom: 5%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
}
img {
  width: 306px;
  height:306px;
}
